[Unit]
Description=Trove Database Container Using PostgreSQL

[Container]
ContainerName=trove-db
Image=docker.io/library/postgres:16-alpine
Pod=trove.pod
Pull=always

Volume=trove-db:/var/lib/postgresql/data

Environment=TZ=Etc/UTC
Environment=POSTGRES_USER=trove
Secret=trove_db_pass,type=env,target=POSTGRES_PASSWORD
Environment=POSTGRES_DB=trove

DropCapability=all
AddCapability=CAP_CHOWN CAP_SETUID CAP_SETGID CAP_FOWNER
